.header{
    color: whitesmoke;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/113850/pexels-photo-113850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    height: 100px;
    padding: 10px;
}
.box-1{
    padding: 10px;
    display: flex;
}
.box-1 div{
    border: 1px black solid;
    padding: 20px;
}
.title{
    flex: 1;
    color: rgba(255, 255, 255, 0);
    font-size: 30px;
    text-align: center;}
.title:hover{
    color:rgba(255, 255, 255, 1);
    transition: .5s ease;
}
.title h2{
    padding: 20px;
}
#one{
    background-image: url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}
#two{
    background-image: url('https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}
#three{
    background-image: url("https://images.pexels.com/photos/1936299/pexels-photo-1936299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}
#four{
    background-image: url("https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}
#five{
    background-image: url("https://images.pexels.com/photos/3861976/pexels-photo-3861976.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}
.text{
    flex: 2;
}